@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-primary: 'Pappins', sans-sarif;
    --font-secondary: 'Martel Sans';
    --color-white: #ffffff;
    --color-black: #000000;
    --color-light-bg: rgba(0, 0, 0, 0.65);
    --color-divider: #333;
    --color-box: #2d2d2d;
    --color-box-hover: #414141;
    --color-red: red;
    --color-border: rgba(255, 255, 255, 0.4);

    --dark-overlay-color: rgba(0, 0, 0, 0.65);
    --font-xs: 0.875rem;
    --font-sm: 1rem;
    --font-md: 1.2rem;
    --font-lg: 1.5rem;
    --font-xl: 2.5rem;
    --font-xxl: 3rem;

    --padding-section: 60px 5%;
    --padding-btn: 8px 16px;
    --padding-btn-lg: 12px 24px;
    --border-radius: 4px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
}

body {
    background-color: var(--color-black);
    color: var(--color-white);
}

.header {
    background-image: url('../img/bg.jpg');
    object-fit: cover;
    height: 90vh;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
}

.overlay {
    position: absolute;
    background-color: var(--dark-overlay-color);
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;

}

.navbar {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 5%
}

.navbar-logo img {
    width: 130px;
}

.navbar-btn {
    display: flex;
    gap: 10px;
}

.btn {
    padding: var(--padding-btn);
    font-size: var(--font-xs);
    border-radius: var(--border-radius);
    border: 1px solid var(--color-white);
    background-color: var(--color-light-bg);
    color: var(--color-white);
    cursor: pointer;
}

.btn-signin {
    background-color: var(--color-red);
    border: none;
    font-weight: 500;
}

.hero {
    position: relative;
    z-index: 2;
    margin-top: auto;
    text-align: center;
    padding: 0 20px 60px;
}

.hero-title {
    font-family: var(--font-secondary);
    font-size: var(--font-xxl);
    font-weight: 700;
}

.hero-subtitle {
    font-size: var(--font-lg);
    margin-top: 1rem;
}

.hero-desc {
    font: var(--font-md);
    margin: 1rem 0;

}

.hero-form {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.hero-form .email-input {
    padding: 12px;
    width: 90%;
    max-width: 400px;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    background-color: rgba(23, 23, 23, 0.7);
    color: var(--color-white);
    font-size: 1rem;
}

.btn-getstarted {
    background-color: var(--color-red);
    padding: var(--padding-btn-lg);
    font-size: 18px;
    font-weight: 800;
    border: none;
    border-radius: var(--border-radius);
    color: var(--color-white);
    cursor: pointer;
}

.divider {
    width: 100%;
    height: 7px;
    background-color: var(--color-divider);
}

.feature {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: var(--padding-section);
    gap: 40px;
    flex-wrap: wrap;
}

.feature-text {

    flex: 1;
    min-width: 300px;
    /* display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column; */
}

.feature-text h1 {
    font-size: var(--font-xl);
    margin-bottom: 1rem;
}

.feature-text p {
    font-size: var(--font-md);
    line-height: 1.5;
}

.feature-media {
    flex: 1;
    position: relative;
    min-width: 300px;
}


.reverse {
    flex-direction: row-reverse;
}